{% extends 'default.html' %}

{% block content %}
<h1>Alexandervn</h1>

<h2>Articles</h2>
<p>See <a href="/blog">blog overview</a></p>

<h2>Follow me</h2>
<ul class="socials">
    <li class="github"><a href="http://github.com/alexandervn">Github</a></li>
    <li class="twitter"><a href="http://www.twitter.com/alexandervn">Twitter</a></li>
    <li class="flickr"><a href="http://www.flickr.com/photos/alexandervn">Flickr</a></li>
    <li class="linkedin"><a href="http://nl.linkedin.com/in/alexandervn">LinkedIn</a></li>
</ul>

<h2>Contact</h2>
<ul class="socials">
    <li class="email"><em>firstname</em> @ therock.nl</li>
</ul>

<footer role="contentinfo">
    <p><a href="http://creativecommons.org/licences/by-sa/3.0/">CC BY-SA 3.0</a> &middot; Icons by <a href="http://www.entypo.com">Entypo</a></p>
</footer>
{{ contents | safe }}
{% endblock %}
